{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{ct_opts, [{ct_hooks, [cth_readable_failonly, cth_readable_shell]}]}.

{profiles,
 [{test,
   [{deps,
     [{cth_readable,
       {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}}
     ]}]},
  {dev,
   [{deps,
     [{sync, ".*",
       {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
     ]}]}
 ]}.

{deps, [
        {lager, ".*",
         {git, "git://github.com/basho/lager.git", "b7984d4"}},
        {cowboy, ".*",
         {git, "git://github.com/ninenines/cowboy.git", {branch, "1.0.x"}}},
        {jiffy, ".*",
         {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}}
       ]}.
