{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{cover_enabled, true}.

{profiles,
 [{test,
   [{deps,
     [
      {ecoveralls,
       {git, "git://github.com/nifoc/ecoveralls.git","40fa0d2f2057fff29e964f94fccf6ef2f13d34d2"}}
     ]}]},
  {dev,
   [{deps,
     [{sync, ".*",
       {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
     ]}]}
 ]}.

{deps, [
        {cowboy, ".*",
         {git, "git://github.com/ninenines/cowboy.git", {branch, "1.0.x"}}},
        {lager, ".*",
         {git, "git://github.com/basho/lager.git", "b7984d4"}},
        {jiffy, ".*",
         {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}}
       ]}.
