{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
        {cowboy, ".*",
         {git, "git://github.com/ninenines/cowboy.git", {branch, "1.0.x"}}},
        {lager, ".*",
         {git, "git://github.com/basho/lager.git", {branch, "2.x"}}},
        {jiffy, ".*",
         {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}}
       ]}.
